extends _layout.jade
block main
  section.section_filler
    .logo
      img(src="img/logo.svg")
      h1 студия <span>формэ</span>
      span IT решения для вашего бизнеса
    .links
      p
        a.tel(href="tel:+78129439483") +7 (812) 943-9483
        span /
        a.tel(href="tel:+78129529572") +7 (812) 952-9572
      p
        a(href="mailto:i@sformer.ru") i@sformer.ru